/* ================= AQUÁRIO ================= */

#aquario {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#4aa3ff2e, #003f7f26);
    overflow: hidden;
    left: 0px;
    background-image: url("img/t.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

/* peixe */
#peixe {
    position: absolute;
    bottom: 390px;
    left: 40px;
    width: 90px;
    transition: left 1s linear, transform 0.6s ease;
}


/* comida (palavra) */
.comida {
    position: absolute;
    top: -30px;
    font-weight: bold;
    color: #fff;
    background: rgba(0,0,0,0.4);
    padding: 4px 8px;
    border-radius: 8px;
    animation: cair 1.2s linear forwards;
}

/* bolha simbólica do erro */
.bolha {
    position: absolute;
    bottom: 20px;
    right: 40px;
    width: 14px;
    height: 14px;
    background: rgba(255,255,255,0.6);
    border-radius: 50%;
    animation: subir 2s ease-out forwards;
}

@keyframes cair {
    to { top: 160px; opacity: 0.8; }
}

@keyframes subir {
    to { bottom: 160px; opacity: 0; }
}
